<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.austin.common.mapper.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.austin.common.entity.Feedback">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="contact" property="contact" />
        <result column="content" property="content" />
        <result column="ctime" property="ctime" />
        <result column="result" property="result" />
    </resultMap>

    <resultMap id="BaseVoResultMap" extends="BaseResultMap" type="">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <!--
        ${ew.customSqlSegment}和${ew.sqlSegment}区别
        ${ew.customSqlSegment}不用加<where>
        ${ew.sqlSegment}要加<where>
        看场景酌情使用
        -->
        ${ew.customSqlSegment}
    </sql>

</mapper>
